---
import "../styles/global.css";
import { ContactForm } from "../components/modules/ContactForm";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ContactForm Preview</title>
  </head>
  <body>
    <ContactForm client:load />
  </body>
</html>
